
{% extends 'base.html' %}
{% block content %}


<body>

<div class="card">
    <img src="https://via.placeholder.com/350x400" alt="Produto">

    <div class="titulo">
        The Omniscient Reader's viewpoint
    </div>

    <div class="avaliacao">
        
         5.0 | 400 mil vendidos
    </div>

    <div class="preco-antigo">
        R$ 129,40
    </div>

    <div>
        <span class="preco-atual">R$ 129,40 </span>
        <span class="desconto">nenhum desconto hoje</span>
    </div>

    <div class="frete">
         Frete grátis hoje
    </div>

    <button class="botao">Comprar Agora</button>
</div>

<div class="card">
    <img src="https://via.placeholder.com/350x400" alt="Produto_2">

    <div class="titulo">
       the beginning after the end
    </div>

    <div class="avaliacao">
        
         3.5 | 20 mil vendidos
    </div>

    <div class="preco-antigo">
        R$ 100,40
    </div>

    <div>
        <span class="preco-atual">R$ 100,40 </span>
        <span class="desconto">nenhum desconto hoje</span>
    </div>

    <div class="frete">
      R$ 50,00 Frete
    </div>

    <button class="botao">Comprar Agora</button>
</div>


<div class="card">
    <img src="https://via.placeholder.com/350x400" alt="Produto_3">

    <div class="titulo">
      yotsuba koiwai
    </div>

    <div class="avaliacao">
        
         4.0 | 50 mil vendidos
    </div>

    <div class="preco-antigo">
        R$ 144,40
    </div>

    <div>
        <span class="preco-atual">R$ 122,00 </span>
        <span class="desconto">R$22,40 de Desconto</span>
    </div>

    <div class="frete">
      R$ 2,00 Frete
    </div>

    <button class="botao">Comprar Agora</button>
</div>
</body>
</html>